language: go
go:
  - 1.5
  - 1.6
install:
  - export GO15VENDOREXPERIMENT=1
  - go get golang.org/x/tools/cmd/vet
script:
  - cd $TRAVIS_BUILD_DIR/multi-node/aws
  - test -z "$(find . -path ./vendor -prune -type f -o -name '*.go' -exec gofmt -d {} + | tee /dev/stderr)"
  - ./build
  - go test -v $(go list ./... | grep -v '/vendor/')
  - go vet $(go list ./... | grep -v '/vendor/')
