#
# The VMs created for multi-node coreos-kubernetes on Vagrant is configured through
# configuration options (global ruby variables) specified below. To override the
# defaults that can be found in the Vagrantfile, copy this file to "config.rb", then
# for each option that you want to change, uncomment the line (i.e., remove the
# leading `#`) leaving just the `$`-prefixed variable name, and replace everything
# after the equals sign with your desired setting.
#

# Official CoreOS channel from which updates should be downloaded: "alpha", "beta", "stable"
# $update_channel="alpha"

# Number of controller VMs to create
# $controller_count=1
# Amount of memory (in MB) to allocate for each controller VM(s)
# $controller_vm_memory=512

# Number of worker nodes to create
# $worker_count=1
# Amount of memory (in MB) to allocate for each worker node VM
# $worker_vm_memory=512

# Number of etcd instances to create
# $etcd_count=1
# Amount of memory (in MB) to allocate for each etcd instance VM
# $etcd_vm_memory=512
